footer.foot
	.section
		.row.foot-row
			.foot-logo
				+img('mini_logo.svg')
			nav.foot-nav
				button.foot-btn.active
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#WORKSPACE")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#CATEGORY")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#PRODUCTS")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#CONSULTANT")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#CRM")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#TASK-MANAGER")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#USERS")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#CONTENT")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#FILES")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#RIGHTS")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#LOGS")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#STATISTICS")
				button.foot-btn
					svg.btn-icon-svg
						use(xlink:href="/img/sprite.svg#SETTINGS")
			button.foot-btn.foot-out
				svg.btn-icon-svg
					use(xlink:href="/img/sprite.svg#LOG-OUT")