extends template/inner
append vars
	-
		page_title = 'Workspace'
block content
	main.content
		section.category
			.section.content-body
				.content-header.row.category-header
					h2.title
						| Пользователи
					.content-form
						.row
							.binpt
								label.binpt-title(for='search')
								input(type='text' id='search' placeholder='Поиск категории').binpt-value.binpt-search
							button.btn.btn-more
								svg.btn-icon-svg._dot
									use(xlink:href="/img/sprite.svg#T-DOT1")
					.content-action
						button.btn-link.btn-add
							span.btn-text Добавить пользователя
						button.btn-link.btn-choose
							span.btn-text Выбрать
						button.btn-link.btn-settings
							span.btn-text Настройки
						button.btn-link.btn-trash
							span.btn-text Корзина
							span#btn-trash (2)
				.content-inner.with-pagination
					.content-table
						table.table
							thead
								tr
									th
										.th
											| ID
									th
										.th
											| Фото
									th
										.th
											| Имя
									th
										.th
											| E-mail
									th
										.th
											| Роль
									th
										.th
											| Команда
									th
										.th
											| Дата добавления
									th
										.th
											| Доступен
									th
										.th
											| Действия
							tbody
								-for(let i=0;i<2;i++)
									tr
										td
											.td
												| u-10
										td
											.td
												+img('profile.png')
										td
											.td
												| Морган Старк
										td
											.td
												| rus.ban@mail.com
										td
											.td
												| Супер администратор
										td
											.td
												| Менеджеры
										td
											.td
												| 2021/08/25 15:56:11
										td
											.td
												.inpt
													input(type="checkbox" id='id'+i checked)
													label.inpt-label(for='id'+i)
										td
											.td.table-actions
												button.btn.btn-action
														svg.btn-icon-svg
															use(xlink:href="/img/sprite.svg#COPY")
												button.btn.btn-action
														svg.btn-icon-svg
															use(xlink:href="/img/sprite.svg#EDIT-B")
												button.btn.btn-action
														svg.btn-icon-svg
															use(xlink:href="/img/sprite.svg#TRASH")
								tr.unactive
									td
										.td
											| u-10
									td
										.td
											+img('profile.png')
									td
										.td
											| Морган Старк
									td
										.td
											| rus.ban@mail.com
									td
										.td
											| Супер администратор
									td
										.td
											| Менеджеры
									td
										.td
											| 2021/08/25 15:56:11
									td
										.td
											.inpt
												input(type="checkbox" id='sid')
												label.inpt-label(for='sid')
									td
										.td.table-actions
											button.btn.btn-action
												svg.btn-icon-svg
													use(xlink:href="/img/sprite.svg#COPY")
											button.btn.btn-action
												svg.btn-icon-svg
													use(xlink:href="/img/sprite.svg#EDIT-B")
											button.btn.btn-action
												svg.btn-icon-svg
													use(xlink:href="/img/sprite.svg#TRASH")

				.content-pagination
					.pagination-row
						.pagination-left
							span 1-30 пользователей из
							strong 120
						.pagination-center
							.pagination-current
								span Страница
							.pagination-page
								.pagination-inpt
									input(type='number' value='1')
							span из
							strong 3
						.pagination-right
							span Показывать
							.select.pagination-select
								select
									option(value="10") 10
									option(value="20") 20
									option(value="30") 30
					.content-card
						form
							.consultant-profile
								.row
									.consultant-profile_body.user-inner_item.user-info
										h3.content-title Пользователь
										ul.consultant-profile-list
											li.consultant-profile-item
												strong.consultant-profile-left
													| Руслан Секербаев
												span.consultant-profile-right
													| u-10
											li.consultant-profile-item
												strong.consultant-profile-left
													| E-mail
												span.consultant-profile-right
													| cekip@mail.ru
											li.consultant-profile-item
												strong.consultant-profile-left
													| Телефон
												span.consultant-profile-right
													| +7 777 777 77 77
											li.consultant-profile-item
												strong.consultant-profile-left
													| Роль
												span.consultant-profile-right
													| Администратор
											li.consultant-profile-item
												strong.consultant-profile-left
													| Команда
												span.consultant-profile-right
													| Менеджеры
										h3.content-title Информация
										ul.consultant-profile-list
											li.consultant-profile-item
												strong.consultant-profile-left
													| Дата добавления
												span.consultant-profile-right
													| 2021/08/25 15:56:11
											li.consultant-profile-item
												strong.consultant-profile-left
													| Добавил
												span.consultant-profile-right
													|  Андрей Карась
											li.consultant-profile-item
												strong.consultant-profile-left
													| Последняя активность
												span.consultant-profile-right
													|  2021/08/25 15:56:11
										.consultant-profile_img
											h3.content-title Аватар
											+img('rus.jpg')
									.consultant-profile_body.user-form.user-inner_item
										h3.content-title Взаимодействие с карточкой
										.user-form-inner
											.inpt
												label.inpt-title(for='uname') Имя
												input(type='text' id='uname').inpt-value
											.inpt
												label.inpt-title(for='uemail') E-mail
												input(type='text' id='uemail').inpt-value
											.inpt
												label.inpt-title(for='uphone') Телефон
												input(type='text' id='uphone').inpt-value
											.select
												label.select-title(for='urole') Роль
												select(id='urole')
													option(value='1') Администратор
													option(value='2') Администратор
													option(value='3') Администратор
													option(value='4') Администратор
											.select
												label.select-title(for='uteam') Команда
												select(id='uteam')
													option(value='1') Менеджеры
													option(value='2') Менеджеры
													option(value='3') Менеджеры
													option(value='4') Менеджеры
											.select
												label.select-title(for='ufunc') Функционирует
												select(id='ufunc')
													option(value='1') Да
													option(value='2') Нет
											.inpt
												label.inpt-title(for='upass') Пароль
												input(type='text' id='upass').inpt-value
											.inpt
												label.inpt-title(for='ucpass') Подтвердить пароль
												input(type='text' id='ucpass').inpt-value
									.user-history.consultant-profile_body.user-inner_item
										h3.content-title История
										.user-history-inner
											time.user-history_date
												| 2021/08/25
											ul.user-history-list
												-for(let i=0;i<5;i++)
													li.user-history-list_item
														span.user-history-item_text
															| Удаление заказа из раздела "Корзина"
														time.user-history-item_time 15:56:11
											time.user-history_date
												| 2021/08/25
											ul.user-history-list
												-for(let i=0;i<10;i++)
													li.user-history-list_item
														span.user-history-item_text
															| Удаление заказа из раздела "Корзина"
														time.user-history-item_time 15:56:11
									.user-inner_item.user-actions
										button.btn.btn-close.user-actions_close
											svg.btn-icon-svg._close
												use(xlink:href="/img/sprite.svg#CLOSE")
										.user-actions_inner
											button.btn.btn-action
												svg.btn-icon-svg
													use(xlink:href="/img/sprite.svg#SAVE")
											button.btn.btn-action
												svg.btn-icon-svg
													use(xlink:href="/img/sprite.svg#BACK")
