$df
  display: flex
$jufs
  justify-content flex-start
$jufe
  justify-content flex-end
$jusa
  justify-content space-around
$jusb
  justify-content space-between
$juse
  justify-content space-evenly
$juc
  justify-content center
$alist
  align-items: stretch
$alic
  align-items: center
$alis
  align-items: flex-start
$alie
  align-items: flex-end

db()
  display block
m(args)
  margin args
ml(args)
  margin-left args
mr(args)
  margin-right args
pr(args)
  padding-right args
pl(args)
  padding-left args
ovh()
  overflow hidden
br(args)
  border-radius args
fd()
  flex-direction column
lih(args)
  line-height args
bdb(args)
  border-bottom args
posr()
  position relative
posa()
  position absolute
t(args)
  top args
b(args)
  bottom args
r(args)
  right args
mw(args)
  max-width args
fz(args)
  font-size args
bgc(args)
  background-color args
ff(args)
  font-family args
tdu()
  text-decoration underline
ttu()
  text-transform uppercase