$df
  display: flex
$jufs
  justify-content flex-start
$jufe
  justify-content flex-end
$jusa
  justify-content space-around
$jusb
  justify-content space-between
$juse
  justify-content space-evenly
$juc
  justify-content center
$alist
  align-items: stretch
$alic
  align-items: center
$alis
  align-items: flex-start
$alie
  align-items: flex-end
db()
  display block
af(ct='')
  content ct
  db()
dn()
  display none
m(args)
  margin args
ml(args)
  margin-left args
mt(args)
  margin-top args
mb(args)
  margin-bottom args
mr(args)
  margin-right args
p(args)
  padding args
pr(args)
  padding-right args
pt(args)
  padding-top args
pb(args)
  padding-bottom args
pl(args)
  padding-left args
ovh()
  overflow hidden
br(args)
  border-radius args
fdc()
  flex-direction column
lih(args)
  line-height args
bdb(args)
  border-bottom args
bdl(args)
  border-left args
posr()
  position relative
posa()
  position absolute
t(args)
  top args
b(args)
  bottom args
r(args)
  right args
l(args)
  left args
mw(args)
  max-width args
fz(args)
  font-size args
bgc(args)
  background-color args
ff(args)
  font-family args
tdu()
  text-decoration underline
ttu()
  text-transform uppercase
bg(args)
  background args
bgs(args)
  background-size args
bgp(args)
  background-position args
bd(args)
  border args
bdrs(args)
  border-radius args
bdc(args)
  border-color args
tac()
  text-align center
flw()
  flex-wrap wrap