@import reset
@import mixins
@import vars
@import groups

font_inc('Geometria-Regular', 'Geometria-Regular.woff2')
font_inc('Geometria-Bold', 'Geometria-Bold.woff2')


.row
  w 100%
  df({
    df:'.row'
  })


body
  font 14px "Geometria-Regular"
  color RGB( var(--black) )
  background-color RGB( var(--gray) )

::-webkit-scrollbar
  wh(5px)

::-webkit-scrollbar-track-piece
  br(12px)
  bgc(#eee)
  box-shadow inset -1px -1px 1px RGBA(255, 255, 255, 0.7), inset 1px 1px 2px RGBA(174, 174, 192, 0.2)

::-webkit-scrollbar-thumb
  bgc(RGBA(247, 145, 65, 0.8))
  br(12px)
  height 50px
.title
  font 20px "Geometria-Bold"
  posr()
  lih(28px)
  color RGB( var(--black) )
  &:after
    af('')
    wh(25px,2px)
    bgc RGB(var(--orange))

.binpt
  &-value
    br(10px)
    bgc(RGBA(var(--light-pink),.2))
    wh(440px,34px)
    pl(var(--inner-gap))
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(221, 221, 221, 0.2)
  &-search
    bg(RGBA(var(--light-pink),.2) url('../img/search_inpt.svg') no-repeat calc(100% - var(--inner-gap)) center)
.btn
  &-more
    ml(var(--inner-gap))
    svg
      wh 40px 15px
      stroke RGBA(var(--light-pink),.2)
      fill RGBA(var(--light-pink),.2)
  &-link
    color RGB(var(--purple))
  &-action
    bgc(RGB(var(--light-gray)))
    br(6px)
    df({
      df:'.btn-action'
      ali:'center'
      jus:'center'
    })
    wh 32px
    box-shadow 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFF
    svg,img
      wh 12px
      stroke RGB(var(--black))
  &-char
    ml(auto)
.inpt,.text
  &-value
    w(100%)
    db()
    bdb(1px solid RGB(var(--blue)))
    color RGBA(var(--black),.6)
    pl(var(--inner-gap))
    pr(calc(var(--inner-gap)* 3))
    bg(url('../img/pencil.svg') no-repeat calc(100% - var(--inner-gap)) center)
    lih(28px)
    fz(13px)
    mt( calc(var(--inner-gap) / 2) )
.text
  &-value
    height 122px
    resize none
    bgp(right var(--inner-gap))
.inpt
  &-value
    height 34px
.select
  select
    db()
    bgc(RGB(var(--light-gray)))
    br(4px)
    bd(1px solid #E5E5E5)
    wh(220px,34px)
    p(0 var(--inner-gap))
    mt( calc(var(--inner-gap) / 2))
// Login page
.login
  &>.section
    posr()
    wh calc( (1308 / 1360) * 100%) calc( 100vh - calc(var(--main-gap) * 2 ) )
    m var(--main-gap) auto
    ovh()
    br 32px
    box-shadow -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFF
  &-left,&-right
    w 50%
    fdc()
    df({
      df:'.login-part'
      jus:'center'
    })
  &-left
    background-color RGB( var(--orange))
  &-logo
    m(0 calc(var(--main-gap) * 2 ) 0 auto)
  &-right
    pl(calc(var(--main-gap) * 2 ))
    background-color RGB( var(--light-gray))
  &-form-row
    posr()
    mw(313px)
  &-inpt
    &-title
      db()
      font 13px 'Geometria-Bold'
      lih(28px)
    &-value
      wh 100% 42px
      fz(13px)
      pl(var(--inner-gap))
      bdb(1px solid RGB( var(--purple)))
      bgc transparent
      &.-process
        bdb(1px solid RGBA( var(--orange),.8))
      &.-success
        bdb(1px solid RGBA( var(--green),.8))
      &.-error
        bdb(1px solid RGBA( var(--red)),.8)
  &-langs,&-btn
    posa()
  &-langs
    t var(--main-gap)
    r var(--main-gap)
  &-lang
    &.-active
      ff('Geometria-Bold')
      lih(18px)
      ttu()
      text-decoration: underline
  &-btn
    wh 12px 24px
    t 33px
    r var(--inner-gap)
    &-svg
      wh 100%
      m 0 auto
      fill none
      stroke RGB( var(--purple))

// Login page end

.block-shadow
  box-shadow: 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFFFFF

.head,.content
  m var(--inner-gap)

//header
.head
  bgc RGB( var(--light-gray))
  border-radius: 10px 10px 0px 0px
  pt 7px
  height 76px
  &-left
    fdc()
    df({
      df:'.head-left'
    })
  &-icon
    posr()
    &-svg
      wh 16px
      stroke-width 1.15
      stroke RGB( var(--purple))
    &-reminder
      posa()
      border 1px solid #fff
      border-radius 100%
      bgc RGB( var(--green))
      wh 8px
      t -3px
      r 0px
  &-name
    pl 18px
    font 30px 'Geometria-Bold'
    lih 28px
  &-role
    lih(32px)
    font 16px 'Geometria-Bold'
    pl 18px
    color RGB( var(--orange))
  &-right
    ml auto
    mr 18px
    &-row,&-item
     column-gap calc(var(--inner-gap) * 2)
    &-item
      df({
        df:'.head-right-item'
        ali:'center'
      })
      posr()
      &:after
        af()
        wh 1px 18px
        bgc RGBA( var(--black),.2)
      &:last-child:after
        dn()
  &-text-item
    df({
      df:'.head-text-item'
      ali:'center'
    })
    column-gap var(--inner-gap)
  &-row
    df({
      ali:'center'
    })
  &-profile
    posr()
    wh 40px
  &-notifications
    posa()
    bgc RGB( var(--gray))
    box-shadow inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(221, 221, 221, 0.2)
    df({
      df:'.head-notifications'
      ali:'center'
      jus:'center'
    })
    t -3px
    r 1px
    wh 14px
    br @width
//header

.content
  ovh()
  bgc RGB(var(--gray))
  p var(--innner-gap)
  box-shadow 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFF
  height calc(100vh - 156px - (2 * var(--inner-gap)))
  &-body
    m var(--inner-gap)
    bgc(#F7F9FF)
    br 4px
    box-shadow: 1px 1px 2px rgba(170, 170, 204, .5), -1px -1px 2px #FFF
  &-section
    overflow-y auto
    height 100%
    bgc RGB( var(--light-gray))
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .12)
    &:first-child
      br(4px 0px 0px 4px)
    &:last-child
      br(0px 4px 4px 0px)
    p(calc(var(--inner-gap) * 2 ))
  &-header,&-inner
   p(calc(var(--inner-gap)*2))
  &-header
    df({
      ali:'center'
    })
    pb 0
  &-inner
    wh 100% calc(100vh - 230px - (2 * var(--inner-gap)))
    &>.row
      height 100%
  &-title
    font 12px 'Geometria-Bold'
    ttu()
    color RGB( var(--black),.4)
  &-action
    df({
      df:'.content-action'
      ali:'center'
    })
    column-gap calc(var(--inner-gap) * 3)
    ml(auto)


// Category
.category
  &-section
    overflow-y: auto
    &-first
      w(298 / 1295 * 100%)
    &-second
      w(344 / 1295 * 100%)
    &-third
      w(663 / 1295 * 100%)
    &-four
      w(54px)
      p(var(--inner-gap))
  &-header
    .content-form
      ml(calc(var(--inner-gap) * 4 ))
  &-form
    .inpt,.block,.select,.text
      mt( calc(var(--inner-gap)*2) )
  &-char
    df({
      df:'.category-char'
      ali:'center'
    })
    mt(var(--inner-gap))
    flex-wrap wrap
    p(var(--inner-gap))
    column-gap calc( 20 / 603 * 100%)
    &_name,&_type
      w( 220 / 603 * 100%)
    &_type select
      w(100%)
    &_sort
      w( 71 / 603 * 100%)
    .text
      mt(calc(var(--inner-gap) * 2))
      w(100%)
      textarea
        height 34px
// Category end