@import reset
@import mixins
@import vars
@import groups

font_inc('Geometria-Regular', 'Geometria-Regular.woff2')
font_inc('Geometria-Bold', 'Geometria-Bold.woff2')


.row
  w 100%
  df({
    df:'.row'
  })


body
  font 14px "Geometria-Regular"
  color RGB( var(--black) )
  background-color RGB( var(--gray) )

::-webkit-scrollbar
  wh(5px)

::-webkit-scrollbar-track-piece
  br(12px)
  bgc(#eee)
  box-shadow inset -1px -1px 1px RGBA(255, 255, 255, 0.7), inset 1px 1px 2px RGBA(174, 174, 192, 0.2)

::-webkit-scrollbar-thumb
  bgc(RGBA(247, 145, 65, 0.8))
  br(12px)
  height 50px
.title
  font 20px "Geometria-Bold"
  posr()
  lih(28px)
  color RGB( var(--black) )
  &:after
    af('')
    wh(25px,2px)
    bgc RGB(var(--orange))

.binpt
  &-value
    br(10px)
    bgc(RGBA(var(--light-pink),.2))
    wh(440px,34px)
    pl(var(--inner-gap))
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(221, 221, 221, 0.2)
  &-search
    bg(RGBA(var(--light-pink),.2) url('../img/search_inpt.svg') no-repeat calc(100% - var(--inner-gap)) center)
.btn
  &-more
    ml(var(--inner-gap))
    svg
      wh 40px 15px
      stroke RGBA(var(--light-pink),.2)
      fill RGBA(var(--light-pink),.2)
  &-link
    color RGB(var(--purple))
  &-action
    bgc(RGB(var(--light-gray)))
    br(6px)
    df({
      df:'.btn-action'
      ali:'center'
      jus:'center'
    })
    wh 32px
    box-shadow 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFF
    svg,img
      wh 12px
      stroke RGB(var(--black))
  &-char
    ml(auto)
.inpt,.text
  &-value
    w(100%)
    db()
    bdb(1px solid RGB(var(--blue)))
    color RGBA(var(--black),.6)
    pl(var(--inner-gap))
    pr(calc(var(--inner-gap)* 3))
    bg(url('../img/pencil.svg') no-repeat calc(100% - var(--inner-gap)) center)
    lih(28px)
    fz(13px)
    mt( calc(var(--inner-gap) / 2) )
.text
  &-value
    height 122px
    resize none
    bgp(right var(--inner-gap))
.inpt
  &-value
    height 34px
.select
  select
    db()
    bgc(RGB(var(--light-gray)))
    br(4px)
    bd(1px solid #E5E5E5)
    wh(220px,34px)
    p(0 var(--inner-gap))
    mt( calc(var(--inner-gap) / 2))
// Login page
.login
  .row
    height: 100%
  &>.section
    posr()
    wh calc( (1308 / 1360) * 100%) calc( 100vh - calc(var(--main-gap) * 2 ) )
    m var(--main-gap) auto
    ovh()
    br 32px
    box-shadow -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFF
  &-left,&-right
    w 50%
    fdc()
    df({
      df:'.login-part'
      jus:'center'
    })
  &-left
    background-color RGB( var(--orange))
  &-logo
    m(0 calc(var(--main-gap) * 2 ) 0 auto)
  &-right
    pl(calc(var(--main-gap) * 2 ))
    background-color RGB( var(--light-gray))
  &-form-row
    posr()
    mw(313px)
  &-inpt
    &-title
      db()
      font 13px 'Geometria-Bold'
      lih(28px)
    &-value
      wh 100% 42px
      fz(13px)
      pl(var(--inner-gap))
      bdb(1px solid RGB( var(--purple)))
      bgc transparent
      &.-process
        bdb(1px solid RGBA( var(--orange),.8))
      &.-success
        bdb(1px solid RGBA( var(--green),.8))
      &.-error
        bdb(1px solid RGBA( var(--red)),.8)
  &-langs,&-btn
    posa()
  &-langs
    t var(--main-gap)
    r var(--main-gap)
  &-lang
    &.-active
      ff('Geometria-Bold')
      lih(18px)
      ttu()
      text-decoration: underline
  &-btn
    wh 12px 24px
    t 33px
    r var(--inner-gap)
    &-svg
      wh 100%
      m 0 auto
      fill none
      stroke RGB( var(--purple))

// Login page end

.block-shadow
  box-shadow: 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFFFFF

.head,.content
  m var(--inner-gap)

//header
.head
  bgc RGB( var(--light-gray))
  border-radius: 10px 10px 0px 0px
  pt 7px
  &-lang
    &.-active
      .head-lang_text
        font 13px 'Geometria-Bold'
        lih(18px)
        text-decoration: underline
  &-left
    fdc()
    df({
      df:'.head-left'
    })
  &-icon
    posr()
    &-svg
      wh 16px
      stroke-width 1.15
      stroke RGB( var(--purple))
    &-reminder
      posa()
      border 1px solid #fff
      border-radius 100%
      bgc RGB( var(--green))
      wh 8px
      t -3px
      r 0px
  &-name
    pl 18px
    font 30px 'Geometria-Bold'
    lih 28px
  &-role
    lih(32px)
    font 16px 'Geometria-Bold'
    pl 18px
    color RGB( var(--orange))
  &-right
    ml auto
    p(18px)
    +tablet()
      mr 18px
      p(0)
    &-row,&-item
     column-gap calc(var(--inner-gap) * 2)
     flex-wrap wrap
     justify-content space-between
     +tablet()
      justify-content flex-start
    &-item
      &:first-child
        mb(calc(var(--inner-gap) * 2))
      &:after
        dn()
        +tablet()
          af()
          wh 1px 18px
          bgc RGBA( var(--black),.2)
      df({
        df:'.head-right-item'
        ali:'center'
      })
      posr()
      &:last-child:after
        dn()
  &-text-item
    df({
      df:'.head-text-item'
      ali:'center'
    })
    column-gap var(--inner-gap)
  &-row
    df({
      ali:'center'
    })
    flex-wrap wrap
  &-profile
    posr()
    wh 40px
  &-notifications
    posa()
    bgc RGB( var(--gray))
    box-shadow inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(221, 221, 221, 0.2)
    df({
      df:'.head-notifications'
      ali:'center'
      jus:'center'
    })
    t -3px
    r 1px
    wh 14px
    br @width
//header

.content
  ovh()
  bgc RGB(var(--gray))
  p var(--innner-gap)
  box-shadow 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFF
  height calc(100vh - 156px - (2 * var(--inner-gap)))
  &-scrolled
    m(20px 0)
    pt(0)
    pb(var(--inner-gap))
    overflow-y auto
    height calc(100% - 40px)
  &-body
    m var(--inner-gap)
    bgc(#F7F9FF)
    br 4px
    box-shadow: 1px 1px 2px rgba(170, 170, 204, .5), -1px -1px 2px #FFF
  &-section
    height 100%
    bgc RGB( var(--light-gray))
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .12)
    &:first-child
      br(4px 0px 0px 4px)
    &:last-child
      br(0px 4px 4px 0px)
    p(calc(var(--inner-gap)))
    +tablet()
      p(calc(var(--inner-gap) * 2 ))
  &-header,&-inner
   p(calc(var(--inner-gap)*2))
  &-header
    df({
      ali:'center'
    })
    pb 0
  &-inner
    wh 100% calc(100vh - 230px - (2 * var(--inner-gap)))
    &>.row
      height 100%
  &-title
    font 12px 'Geometria-Bold'
    ttu()
    color RGB( var(--black),.4)
  &-action
    df({
      df:'.content-action'
      ali:'center'
    })
    column-gap calc(var(--inner-gap) * 3)
    ml(auto)


// Category
.category
  &-section
    &-first
      w(295 / 1295 * 100%)
    &-second
      w(335 / 1295 * 100%)
    &-third
      w(715 / 1295 * 100%)
    &-four
      w(54px)
      p(var(--inner-gap))
  &-header
    .content-form
      ml(calc(var(--inner-gap) * 4 ))
  &-form
    pr(var(--inner-gap))
    .inpt,.block,.select,.text
      mt( calc(var(--inner-gap)*2) )
  &-char
    df({
      df:'.category-char'
      ali:'flex-end'
    })
    mt(var(--inner-gap))
    p(var(--inner-gap))
    bgc(var(--light-gray))
    bdrs(0px 4px 4px 0px)
    mr(var(--inner-gap))
    box-shadow: 1px 1px 2px rgba(170, 170, 204, 0.5), -1px -1px 2px #FFF
    flex-wrap wrap
    column-gap calc( 20 / 603 * 100%)
    &_name,&_type
      w( 220 / 603 * 100%)
    &_type select
      w(100%)
    &_sort
      w( 71 / 603 * 100%)
    .text
      mt(calc(var(--inner-gap) * 2))
      w(100%)
      textarea
        height 34px
  &-list
    mt(calc(var(--inner-gap)*2))
    &_item
      mb(calc(var(--inner-gap)))
      &.open
        mb(calc(var(--inner-gap)*2))
        .category-sublist
          opacity 1
          visibility visible
          max-height 300px
        .category-list_icon
          transform rotate(90deg)
        .category-list_content
          bdc transparent
    &_content
      df({
        df:'.category-list-content'
        ali:'center'
      })
      bdrs(4px)
      bd(1px solid RGB( var(--light-gray2)))
      p(var(--inner-gap))
    &_icon
      wh(10px,5px)
      ml(auto)
    &_cnt
      ml(calc(var(--inner-gap)/2))
  &-sublist
    posr()
    pl(calc(var(--inner-gap)*1.4))
    opacity 0
    visibility hidden
    max-height 0
    &:before
        af()
        posa()
        wh 1px 100%
        bgc RGB( var(--light-gray2))
        t 0
        l 14px
    &_item
      df({
        df:'.category-sublist-item'
        ali:'center'
      })
      mb(var(--inner-gap))
      &:before
        af()
        wh(10px,6px)
        bdrs(0 0px 0 5px)
        bdl(1px solid RGB( var(--light-gray2)))
        bdb(1px solid RGB( var(--light-gray2)))
        transform translateY(8px)
    &_content
      pl(calc(var(--inner-gap)/2))
      transform translateY(10px)
      button
        color RGB( var(--blue))
  &-image
    &_title
      bdrs(6px)
      tac()
      font 12px 'Geometria-Bold'
      color RGB( var(--blue))
      bgc(RGBA(var(--light-pink),.2))
      p(var(--inner-gap) 0)
      mt(calc(var(--inner-gap)/2))
    &_file
      dn()
// Category end

// Consultant
.consultant
  &-list
    height: 100%
    overflow-y: auto
    &_content
      df({
        df:'.consultant-list-content'
        ali:'center'
      })
      w(100%)
      ovh()
      column-gap calc(var(--inner-gap))
    &_item
      w(97%)
      posr()
      p(calc(var(--inner-gap)/2) var(--inner-gap))
      mb(var(--inner-gap))
      bdrs(4px)
      &.-open
        bgc(RGB(var(--purple)))
        color #FFF
      &:hover
        bgc RGBA( var(--light-pink),.2)
    &_title
      font 13px "Geometria-Bold"
    &_img
      height 40px
      flex 0 0 40px
    &_text
      ovh()
      w(70%)
      white-space nowrap
      text-overflow ellipsis
    &_date
      posa()
      t(9px)
      r(calc(var(--inner-gap)/2))
  &-aside
    dn()
    +tablet()
      db()
      p(14px)
  &-body
    w(100%)
    p(0)
    +tablet()
      display flex
      flex-wrap wrap
      p(0)
    &-header
      bdb(1px solid RGBA( var(--light-pink),.2))
      p(var(--inner-gap))
      +tablet()
        w(100%)
      &_user
        df({
          df:'.consultant-body-header-user'
          ali:'center'
        })
        column-gap var(--inner-gap)
      &_title
        font 13px "Geometria-Bold"
      &_recent
        color RGBA( var(--black),.6)
      &_action
        ml(auto)

    &-inner
      df({
        df:'.consultant-body-inner'
        ali:'center'
      })
      height 80%
      flex-direction column
      justify-content flex-end
      +tablet()
         w(calc(100% - 340px))
         border-right 1px solid RGBA(var(--light-pink), .2)
         height calc(100% - calc(var(--inner-gap)*8))
    &-action
      w(340px)
      dn()
      +tablet()
        db()
  &-messages
    mw(644px)
    m(0 auto)
    p(var(--inner-gap))
    df({
      df:'.consultant-messages'
    })
    flex-direction column
    overflow-y auto
    +tablet()
      w(100%)
      mb(var(--inner-gap))
      mt(var(--inner-gap))
  &-msg
    posr()
    df({
      df:'.consultant-msg'
      ali:'flex-start'
    })
    column-gap var(--inner-gap)
    mb(calc(var(--inner-gap)/2))
    &_body
      bdrs(8px 20px 20px 20px)
      bdc(RGBA(255, 255, 255, .1))
      bd(1px solid RGBA(35, 35, 35, .02))
      p(12px 16px)
      display inline-block
      box-shadow 0px 2px 5px rgba(35, 35, 35, .05)
    &_right
      justify-content flex-end
      .consultant-msg_body
        bdrs(20px 8px 8px 20px)
        bgc RGBA( var(--light-pink),.2)
    &_time
      mt(auto)
      color RGBA(var(--black),.6)
  &-form
    w(100%)
    &_body
      posr()
      df({
        df:'.consultant-form-body'
        ali:'center'
      })
      w(80%)
      bdrs(8px)
      bd(1px solid RGBA(35, 35, 35, .02))
      mw(644px)
      p(12px 16px 12px calc(var(--inner-gap)*4))
      m(auto)
      box-shadow 0px 2px 5px RGBA(35, 35, 35, .05)
      resize none
      +tablet()
        w(85%)
    &_textarea
      w(94%)
      ml(var(--inner-gap))
      bgc(transparent)
      transform translateY(5px)
      resize none
    &_smiles,&_btn,&_send,&_file
      posa()
    &_smiles
      l(calc(var(--inner-gap)*2))
    &_send
      r(-25px)
      +tablet()
        r(-30px)
    &_file
      r(calc(var(--inner-gap)*2))
  &-profile
    &_action
      df({
        df:'.consultant-profile-action'
        jus:'flex-end'
      })
      p(calc(var(--inner-gap)*2))
    &_close
      wh(13px)
      ml(auto)
      svg
        wh(100%)
    &_body
      p(calc(var(--inner-gap)*2))
    &-list
      &:after
        af()
        wh(100%,1px)
        m(calc(var(--inner-gap)*2) 0)
        background linear-gradient(90deg, rgba(211, 217, 249, 0.24) 0%, rgba(211, 217, 249, 0.6) 51.04%, rgba(211, 217, 249, 0.24) 100%)
      &:last-child:after
        dn()
    &-item
      df({
        df:'.consultant-profile-item'
        ali:'center'
        jus:'space-between'
      })
      mt(calc(var(--inner-gap)))
      fz(13px)
    &-left
      ff('Geometria-Bold')
    &-right
      color RGBA(var(--black),.6)
// Consultant end