* {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 1em;
}

em, strong, i, b, address, cite {
  font-style: normal;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}

input[type=submit], button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
input,button,textarea,select
  font-family inherit
  color inherit
  border 0
img {
  max-width: 100%;
}