:root
  --light-pink: getRgb(#D3D9F9)
  --green: getRgb(#83BF6E)
  --red: getRgb(#FF6A55)
  --blue: getRgb(#5068E2)
  --purple: getRgb(#5C72E8)
  --gray: getRgb(#F4F4F4)
  --light-gray: getRgb(#FCFCFC)
  --light-gray2: getRgb(#E5E5E5)
  --orange: getRgb(#F79141)
  --black: getRgb(#373A4A)
  --main-gap: 50px
  --inner-gap: 10px


